/* GOOGLE WEB FONTS */
@font-face {
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 400;
  src: local('Quantico'), local('Quantico-Regular'), url(http://themes.googleusercontent.com/static/fonts/quantico/v2/RC4TVDxn85RHKNRvpYMc9HYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

/* GENERAL AND OVERRIDES */

*{
	margin:0px;
	padding:0px;
	font-family: 'Quantico', sans-serif;
}

body, html{
	width:100%;
	height:100%;
}

a:link{color:#00BFFF; text-decoration:underline;}
a:visited{color:#00BFFF; text-decoration:underline;}
a:hover{color:#00BFFF; text-decoration:underline;}

body{
	background:url('light_wool.png');
}

/* HEADER STUFF */
header{
	position:relative;
	width:100%;
	background:rgba(50,50,50,0.1);
	padding:15px 0px;
}

header #logo{
	width:200px;
	margin-left:20px;
}

#author{
	text-align:right;
	float:right;
	margin-right:20px;
}

/* FOOTER STUFF */

footer{
	position:fixed;
	bottom:0px;
	right:0px;
	width:120px;
	/*background:rgba(140, 200, 75, 0.3);*/
	background:rgba(250, 250, 250, 0.3);
	padding:5px 6px;
	box-shadow:-2px -2px 6px #aaa;
}

footer nav{
	font-size:13px;
	display:none;
}
footer nav a{
	display:inline-block;
	clear:right;
	padding-left:15px;
	line-height:20px;
}
footer nav a:link{color:white; text-decoration:none;}
footer nav a:visited{color:white; text-decoration:none;}
footer nav a:hover{color:#333333; text-decoration:none;}

/*
* SLIDE LAYOUT
*/

#presentation{
	position:relative;
	width:800px;
	margin:30px auto;
}

.slide{
	padding:20px 15px;
	position:absolute;
	top:-1000px;
	left:0px;
	width:100%;
}

#progress{
	height:3px;
	background:#8CC84B;
	width:1000px;
}

#progress-value{
	position:absolute;
	font-size:12px;
}

/*
* GENERAL LAYOUT
*/

h1{
	color:#8CC84B;
	margin-bottom:30px;
	font-size:45px;
}

h2{
	color:#8CC84B;
	margin-bottom:20px;
	font-size:33px;
	font-weight:lighter;
}

h3{
	color:#444444;
	margin-bottom:10px;
	font-size:20px;
}

li{
	color:#444444;
	margin-bottom:10px;
	font-size:20px;
	word-wrap: break-word;
}

code{
	color:#666666;
	font-family:'Courier';
}

.indent{
	display:inline-block;
	width:20px;
}

