section.small{
    width:100%;
}
header{
    padding:10px 0px;
    position:relative;
    width:100%;
    height:auto;
    clear:both;
}
#profile{
    width:80%;
}
#profile p{
    width:100%;
    font-size:17px;
}
nav{
    width:80%;
}
nav a{
    font-size:30px;
}

#main{
    margin:10px auto;
    width:90%;
}
footer{
    position:absolute;
    top:10px;
    left:10px;
    width:50px;
}
