section.small{
    width:100%;
    margin:20px 0px;
}
section.small:nth-of-type(2){
    margin:20px 0px;
}
section{
    width:100%;
    padding-bottom;15px;
    border-bottom:1px solid #bbb;
}
header{
    padding:10px 0px;
    position:relative;
    width:100%;
    height:auto;
    clear:both;
}
#profile{
    width:80%;
}
#profile p{
    width:100%;
    font-size:17px;
}
nav{
    width:90%;
    text-align:center;
}
nav a{
    font-size:30px;
    width:auto;
}

#main{
    margin:10px auto;
    width:90%;
}
footer{
    position:absolute;
    top:10px;
    left:10px;
    width:50px;
}

.thumb{
    width:100%;
    margin:10px 0px;
}
