/*
* SHADOWSLIDE CSS
*/

#slideshow{
	width:500px;
	height:325px;
	position:relative;
	clear:both;
	overflow:hidden;
	margin:15px auto;
}
 
 
.slide
{
	opacity:1.0;
	position:absolute;
	width:500px;
	height:325px;
}

.slide .carousel{
	height:325px;
	width:2000px;
	position:absolute;
	left:0px;
	top:0px;
	z-index:1;
}

.slide img{
    clear:none;
    min-width:500px;
	width:500px;
}

.slide .carousel img{
	width:500px;
	margin:0px;
	position:relative;
	float:left;
	z-index:1;
}

.slide::before{
	position:absolute;
	display:block;
	overflow:hidden;
	content:'';
	width:500px;
	height:325px;
	height:100%;
	-moz-box-shadow:inset 0px 0px 16px rgba(0,0,0,0.8);
	-webkit-box-shadow:inset 0px 0px 16px rgba(0,0,0,0.8);
	box-shadow:inset 0px 0px 16px rgba(0,0,0,0.8);
	z-index:3;
}
