---
layout: default
title: Blog
---

<a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank" class="btn pull-right"><i class="fa fa-rss"></i> Subscribe</a>

{% if paginator.page > 1 %}
  <a href="{{ paginator.previous_page_path }}" class="previous"><i class="fa fa-arrow-left"></i> Previous</a>
  Page {{ paginator.page }} 
{% endif %}

<div class="clearfix"></div>

{% for post in paginator.posts %}
  <article>
    <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
    <div class="chip">
      <i class="fa fa-calendar"></i> 
      {{ post.date | date: "%b %-d, %Y" }}
    </div>

    {{ post.content }}
  </article>
  <div class="clearfix"></div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="btn blue-grey previous"><i class="fa fa-arrow-left"></i> Previous</a>
  {% endif %}
  <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="btn blue-grey next"><i class="fa fa-arrow-right"></i> Next</a>
  {% endif %}
</div>
