/* GENERAL AND OVERRIDES */

*{
	margin:0px;
	padding:0px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body, html{
	width:100%;
	height:100%;
}

body{
	background:url('media/bg.png');
}

/* HEADER STUFF */
header{
	position:relative;
	width:100%;
	background:#00BFFF;
	padding:15px 0px;
	box-shadow:2px 0px 6px gray inset;
}

header #logo{
	width:100px;
	margin-left:20px;
}

#author{
	text-align:right;
	float:right;
	margin-right:20px;
	color:white;
}
#author p:first-child{
	margin-bottom:20px;
}

/* FOOTER STUFF */

footer{
	position:fixed;
	bottom:0px;
	right:0px;
	width:120px;
	background:rgba(250, 250, 250, 0.3);
	padding:5px 6px;
	box-shadow:2px 2px 6px #aaa inset;
}

footer nav{
	font-size:13px;
	display:none;
}
footer nav a{
	display:block;
	clear:right;
	padding-left:15px;
	line-height:20px;
}
footer nav a:link{color:white; text-decoration:none;}
footer nav a:visited{color:white; text-decoration:none;}
footer nav a:hover{color:#333333; text-decoration:none;}

/*
* SLIDE LAYOUT
*/

#presentation{
	position:relative;
	width:800px;
	margin:30px auto;
}

section{
	min-height:500px;
}

section .main-image{
	position:absolute;
	opacity:1.0;
	min-width:200px;
	max-width:500px;
	max-height:450px;
	right:20px;
	bottom:0px;
}

section .list-image{
	vertical-align:top;
}

section .big-image{
	max-height:500px;
	position;relative;
	margin:0px auto;
}

section img{
	max-height:500px;
	max-width:700px;
	display:bloxk;
	margin:0px auto;
}

.slide{
	padding:20px 15px;
	position:absolute;
	top:-1000px;
	left:0px;
	width:100%;
}

#progress{
	height:3px;
	background:#444444;
	width:1000px;
	box-shadow:-2px 0px 5px gray;
}

#progress-value{
	position:absolute;
	font-size:12px;
}

/*
* GENERAL LAYOUT
*/

h1{
	color:#00BFFF;
	margin-bottom:30px;
	font-size:50px;
	font-weight:lighter;
	text-shadow:0px 0px 2px gray;
}

h2{
	color:#00BFFF;
	margin-bottom:20px;
	font-size:33px;
	font-weight:lighter;
}

h3{
	color:#444444;
	margin-bottom:10px;
	font-size:20px;
}

hr{
	margin-top:10px;
	margin-bottom:15px;
	color:gray;
}

ul li{
	color:#444444;
	margin-bottom:10px;
	font-size:20px;
	word-wrap: break-word;
	list-style-type: none;
	background-image: url('media/dash.png');
	background-repeat: no-repeat;
	background-position: 0px 10px; 
	padding-left: 20px; 
	margin-bottom:15px;
}

li ul li{
	margin-bottom:0px;
	background-size:6px 3px;
	padding-left: 14px; 
}

label{
	color:#00BFFF;
	display:inline-block;
	width:200px;
	opacity:0.5;
}

code{
	color:#666666;
	font-family:'Courier';
}

.indent{
	display:inline-block;
	width:20px;
}

