{% extends "layout.html" %}
{% block body %}


{% for post in posts %}
{% autoescape false %}

{% if single or not single%}
<article class="full-post">
    <div class="meta"><p>
          <span class="date"><a href="/blog/{{ post.year }}/{{ post.month }}/{{ post.day }}/{{ post.url_title.lower() }}#comments">{{ post.day }}/{{ post.month }}/{{ post.year }}</a></span>
   </p></div>

    <h2><a href="/blog/{{ post.year }}/{{ post.month }}/{{ post.day }}/{{ post.url_title.lower() }}">{{ post.title }}</a> </h2>
    <div style="clear:both"></div>
    {{ post.content }}
</article>

{% if single == True %}
<div id="comments"></div>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'flyingsparx';
     (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
     })();
</script>

{% endif %}
{% endif %}
{% endautoescape %}
{% endfor %}
</div>
{% endblock %}
