{% extends "layout.html" %}

{% block body %}

<h1>How to get hold of me</h1>
<p>Please get in touch if you have any questions or want to talk about something.</p>


<section class="small">
	<h2>Email</h2>
    <p>The most efficient way to contact is to email me. I use a few different addresses for different purposes.</p>
	<p><label class="email-label">Academic</label>
		<a href="mailto:W.M.Webberley@cs.cf.ac.uk" target="_blank" >
		W.M.Webberley@cs.cf.ac.uk</a>
	</p>
	<br />
	<p><label class="email-label">General</label>
		<a href="mailto:will@willwebberley.net" target="_blank" >
		will@willwebberley.net</a></p>
    <p><label>&nbsp</label>        <a href="mailto:will@flyingsparx.net" target="_blank" >
        will@flyingsparx.net</a></p>
	</p>
</section>
<section class="small">
    <h2>Social networks</h2>
    <p>If you like, add/follow/connect with me on social networks.</p>
    <a href="http://www.twitter.com/flyingSparx" target="_blank">
        <img src="/static/media/twitter.png" class="social" alt="Twitter" />
    </a>
    <a href="https://plus.google.com/117295241444122869150" target="_blank">
        <img src="/static/media/google.png" class="social" alt="Google Plus" />
    </a>
    <a href="http://www.last.fm/user/flyingsparks" target="_blank">
        <img src="/static/media/lastfm.png" class="social" alt="Last FM" />
    </a>
    <a href="http://www.github.com/flyingsparx" target="_blank">
        <img src="/static/media/github.png"  class="dark-bg social" alt="Github" />
    </a>
    <a href="http://www.foursquare.com/flyingsparx" target="_blank">
        <img src="/static/media/foursquare.png" class="social" alt="Foursqaure" />
    </a>            
</section>	
<div style="clear:both"></div>
<section class="small">
    <h2>Mail</h2>
    <p>My research office at Cardiff University can be reached here.</p>
    <p>
    School of Computer Science &amp; Informatics,<br />
    Cardiff University,<br />
    Queen's Buildings,<br />
    5 The Parade,<br />
    Cardiff CF24 3AA</p>
</section>


<script src="/static/js/lastfm.js"></script>

<script>

/*var lastFm = new LastFM("d6b7875c6b075a3d0dfd03a15aacd1f0");
tracks = lastFm.getRecentTracks("flyingsparks");
console.log(tracks);
console.log(tracks);
for(var i = 0; i < tracks.length; i++){
    console.log(tracks[i]);
}*/
</script>
	
{% endblock %}
