{% extends "layout.html" %}

{% block body %}

<section class="small">
	<h2>Email</h2>
    <p><label>General</label>
        <a href="mailto:will@flyingsparx.net" target="_blank" >
        will@flyingsparx.net</a></p>
	</p>
</section>
<section class="small">
    <h2>Social networks</h2>
    <div class="social twitter"><a href="http://twitter.com/flyingsparx" target="_blank">@flyingSparx</a></div>
    <div class="social github"><a href="http://github.com/flyingsparx" target="_blank">flyingsparx</a></div>
    <div class="social instagram"><a href="http://instagram.com/flyingsparx" target="_blank">flyingsparx</a></div>
    <div class="social lastfm"><a href="http://last.fm/user/flyingsparks" target="_blank">flyingsparks</a></div>
    <div class="social linkedin"><a href="https://www.linkedin.com/profile/view?id=211829090" target="_blank">Will Webberley</a></div>
</section>	
    
{% endblock %}
