{% extends "layout.html" %}

{% block body %}

<h1>How to get hold of me</h1>

<section class="small">
	<h2>Email</h2>
	<p><label class="email-label">Academic</label>
		<a href="mailto:W.M.Webberley@cs.cf.ac.uk" target="_blank" >
		W.M.Webberley@cs.cf.ac.uk</a>
	</p>
	<br />
	<p><label class="email-label">General</label>
		<a href="mailto:will@willwebberley.net" target="_blank" >
		will@willwebberley.net</a></p>
    <p><label>&nbsp</label>        <a href="mailto:will@flyingsparx.net" target="_blank" >
        will@flyingsparx.net</a></p>
	</p>
</section>
<section class="small">
    <h2>Social networks</h2>
    <a href="http://www.twitter.com/flyingSparx" target="_blank">
        <img src="/static/media/twitter.png" class="social" alt="Twitter" />
    </a>
    <a href="https://plus.google.com/117295241444122869150" target="_blank">
        <img src="/static/media/google.png" class="social" alt="Google Plus" />
    </a>
    <a href="http://www.last.fm/user/flyingsparks" target="_blank">
        <img src="/static/media/lastfm.png" class="social" alt="Last FM" />
    </a>
    <a href="http://www.github.com/flyingsparx" target="_blank">
        <img src="/static/media/github.png"  class="dark-bg social" alt="Github" />
    </a>
    <a href="http://www.foursquare.com/flyingsparx" target="_blank">
        <img src="/static/media/foursquare.png" class="social" alt="Foursqaure" />
    </a>            
</section>		
{% endblock %}
