{% extends "layout.html" %}

{% block body %}

<h1>Fixes</h1>

<p>Here is a collection of fixes to arbitrary issues I encounter. Although they're here mainly to help my future self, they may also be of use to others with similar problems. Mostly these are issues that can't always be solved with simple searches.</p>

<section>

    <div class="item">
        <h3>Resolution problems with Trine 2 on Linux</h3>
        <p>This problem seems to occur when running the Steam version of Trine 2 on GNU/Linux systems with nVIDIA cards running with multiple heads. The issue is that the game tries to set the resolution to the maximum width and height of all the heads combined, meaning that the picture is stretched and only partially visible.</p>
        <p>To fix the issue, edit the file <span class="code">trine2_bin_starter.sh</span> in the relevant place in the Steam directory, and set the <span class="code">FB_FULLSCREEN_WIDTH</span> and <span class="code">FB_FULLSCREEN_HEIGHT</span> to your desired values (e.g. 1920x1200).</p>
    </div>

    <div class="item">
        <h3>Issues typesetting TeX files using <span class="code">texlive</span> on Arch Linux</h3>
        <p>This problem prevents the typesetting of any documents, returning a fatal error regarding the file <span class="code">/var/lib/texmf/web2c/pdftex/pdflatex.fmt</span>. This seems to be a problem with <span class="code">pacman</span>.
        <p>This can be fixed using the bash script contributed by darkdigitaldream on the Arch Linux <a href="https://bbs.archlinux.org/viewtopic.php?pid=1321536#p1321536" target="_blank">forum</a>.</p>
    </div>


</section>

{% endblock %}
