{% extends "layout.html" %}
{% block body %}

<section class="narrow">
    <h3>Hi, I'm Will</h3>

    <img src="https://www.flyingsparx.net/static/media/will.jpg" alt="Will" id="profile_image" />
    <p>I'm currently a research associate at the <a href="http://cs.cf.ac.uk" target="_blank">School of Computer Science &amp; Informatics</a> at <a href="http://cf.ac.uk" target="_blank">Cardiff University</a> in the UK.</p>
    <p>I am co-coordinator of the <a href="http://mobisoc.cs.cf.ac.uk" target="_blank">MobiSoc</a> forum, of which the main focus is around internet, mobile, and social computing. Most of my past and current research is associated with these domains.</p>
    <p>My <a href="/research#phd">PhD research</a> addressed the "unfiltered feed problem" by helping with identifying interesting content on Twitter.</p>
    <p>I am currently lecturing web and social computing (MSc Advanced Computer Science) and human-computer interaction and algorithms &amp; data structures (BSc Computer Science). The course material for these modules is available on GitHub (<a href="http://github.com/flyingsparx/CMT111" target="_blank">CMT111</a>, <a href="http://github.com/flyingsparx/CM2101" target="_blank">CM2101</a>, and <a href="http://github.com/flyingsparx/CM2303" target="_blank">CM2303</a>).</p>
        <section class="small">
        <div class="item plain">
            <p class="twitter background top"><strong>Tweet me</strong><br /><a href="http://twitter.com/flyingsparx" target="_blank">@flyingSparx</a></p>
            <p class="email background top"><strong>Mail me</strong><br /><a href="mailto:webberleywm@cardiff.ac.uk" target="_blank">WebberleyWM@cardiff.ac.uk</a></p>
            <p class="github background top"><strong>Fork/pull me</strong><br /><a href="http://github.com/flyingsparx" target="_blank">flyingsparx</a></p>
        </div>
    </section>
    <section class="small">
        <div class="item plain">
            <p class="link background"><a href="/blog">Blog</a></p>
            <p class="link background"><a href="/teaching#current">Current teaching</a></p>
            <p class="link background"><a href="/research#phd">PhD research</a></p>
            <p class="link background"><a href="/research#publications">Recent publications</a></p>
        </div>
    </section>

</section>

{% endblock %}
