<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Will Webberley - computer science PhD student at Cardiff University">
    <meta name="author" content="Will Webberley">
	
    <title>flyingsparx{% if not 'home' == request.endpoint and not 'post' == request.endpoint and not 'postByTitle' == request.endpoint%}: {{request.endpoint}}{% endif %}</title>
	
    <link rel="icon" type="image/png" href="/static/media/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/snippet.css" />
    {% if mobile == True %}
    <link rel="stylesheet" type="text/css"  href="/static/css/mobile.css" />
    {% endif %}
    <script type="text/javascript" src="/static/js/jquery.js"></script>		
</head>

<body>
<header>
	<div id="profile">
        <img src="http://www.flyingsparx.net/static/media/will.jpg" alt="Will" />
        <p><a href="/">Will Webberley</a></p>
        <p>Computer science PhD student in Cardiff - internet/mobile/social computing enthusiast</p>
    </div>
    
    <nav>
        <p class="command">~ $ ls pages/</p>
        <a href="/" {% if 'home' == request.endpoint or 'post' == request.endpoint%}class="active"{% endif %}>blog</a>
        <a href="/research" {% if 'research' == request.endpoint %}class="active"{% endif %}>research</a>
        <a href="/outputs" {% if 'outputs' == request.endpoint %}class="active"{% endif %}>outputs</a>
        <a href="/teaching" {% if 'teaching' == request.endpoint %}class="active"{% endif %}>teaching</a>
        <a href="/contact" {% if 'contact' == request.endpoint %}class="active"{% endif %}>contact</a>
        <!--<a href="/photos" {% if 'photos' == request.endpoint %}class="active"{% endif %}>pics</a>-->
        <p class="command">~ $ █</p> 
    </nav>

    <div id="lastfm">
        <div id="songs">

        </div>
    </div>
</header>


<div id="main">	
    <div id="wrapper">
        {% block body %}

        {% endblock %}
    </div>
</div>

<footer>
    <a href="http://www.twitter.com/flyingSparx" target="_blank">
        <img src="/static/media/twitter.png" class="social" alt="Twitter" />
    </a>
    <a href="https://plus.google.com/117295241444122869150" target="_blank">
        <img src="/static/media/google.png" class="social" alt="Google Plus" />
    </a>
    <a href="http://www.last.fm/user/flyingsparks" target="_blank">
        <img src="/static/media/lastfm.png" class="social" alt="Last FM" />
    </a>
    <a href="http://www.github.com/flyingsparx" target="_blank">
        <img src="/static/media/github.png"  class="bg social" alt="Github" />
    </a>
    <a href="http://www.foursquare.com/flyingsparx" target="_blank">
        <img src="/static/media/foursquare.png" class="social" alt="Foursqaure" />
    </a>
    <!--
    <a href="http://www.facebook.com/flyingSparx" target="_blank">
        <img src="/static/media/fb.png" class="social" alt="Facebook" />
    </a>-->
</footer>

<script type="text/javascript">
{% if mobile == False %}var mobile = false;{% endif %}
{% if mobile == True %}var mobile = true;{% endif %}
</script>	
<script type="text/javascript" src="/static/js/easing.js"></script>
<script type="text/javascript" src="/static/js/color.js"></script>
<script type="text/javascript" src="/static/js/masonry.js"></script>
<script type="text/javascript" src="/static/js/snippet.js"></script>
<script type="text/javascript" src="/static/js/sh_sh.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-40575035-1']);
_gaq.push(['_setDomainName', 'flyingsparx.net']);
_gaq.push(['_trackPageview']);
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>
