<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Will Webberley - computer science PhD student at Cardiff University">
    <meta name="author" content="Will Webberley">
    <meta name="viewport" content="width=500, user-scalable=0">
	
    <title>flyingsparx{% if not 'home' == request.endpoint and not 'post' == request.endpoint and not 'postByTitle' == request.endpoint%}: {{request.endpoint}}{% endif %}</title>
	
    <link rel="icon" type="image/png" href="/static/media/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/snippet.css" />
    <link rel="stylesheet" media="(max-width: 800px),handheld" type="text/css"  href="/static/css/mobile.css" />
</head>

<body>
<header>
    <div id="nav_opener" onclick="if(document.getElementsByTagName('nav')[0].style.display!='block'){document.getElementsByTagName('nav')[0].style.display='block';}else{document.getElementsByTagName('nav')[0].style.display='none';}"></div>
	<div id="profile">
        <p><a href="/" {% if 'home' == request.endpoint%}class="active"{% endif %}>Will Webberley</a></p>
    </div>
    
    <nav>
        <a href="/blog" {% if 'blog' == request.endpoint or 'post' == request.endpoint%}class="active"{% endif %}>blog</a>
        <a href="/research" {% if 'research' == request.endpoint %}class="active"{% endif %}>research</a>
        <a href="/teaching" {% if 'teaching' == request.endpoint %}class="active"{% endif %}>teaching</a>
        <a href="/output" {% if 'output' == request.endpoint %}class="active"{% endif %}>output</a>
        <a href="/project" {% if 'project' == request.endpoint %}class="active"{% endif %}>project</a>
        <a href="/contact" {% if 'contact' == request.endpoint %}class="active"{% endif %}>contact</a>
        <div id="social_nav">
            <a href="https://twitter.com/flyingsparx" target="_blank">
                <img src="/static/media/social-twitter-outline.png" />
            </a>
            <a href="https://instagram.com/flyingsparx" target="_blank">
                <img src="/static/media/social-instagram-outline.png" />
            </a>
            <a href="http://last.fm/user/flyingsparks" target="_blank">
                <img src="/static/media/social-lastfm-outline.png" />
            </a>
            <a href="https://github.com/flyingsparx" target="_blank">
                <img src="/static/media/social-github-outline.png" />
            </a>
            <a href="https://www.linkedin.com/profile/view?id=211829090" target="_blank">
                <img src="/static/media/social-linkedin-outline.png" />
            </a>
        </div>
    </nav>
    <div class="clear"></div>
</header>

<div id="main">	
    {% block body %}

    {% endblock %}
</div>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-40575035-1']);
_gaq.push(['_setDomainName', 'flyingsparx.net']);
_gaq.push(['_trackPageview']);
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

var disqus_shortname = 'flyingsparx';
 (function () {
     var s = document.createElement('script'); s.async = true;
     s.type = 'text/javascript';
     s.src = '//' + disqus_shortname + '.disqus.com/count.js';
     (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
 }());
</script>
</body>
</html>
