{% extends "layout.html" %}

{% block body %}

<h1>Notes and Fixes</h1>

<p>Here is a collection of short notes for various tasks and fixes to arbitrary issues I encounter. Although they're here mainly for my future self, they may also be of use to others looking for similar information.</p>

<section>
    <div class="item">
        <h3>Nexus 4: no themes are available for the Themer application</h3>
        <p>The list of themes (in any category - recent, popular, etc.) is empty on the Nexus 4.</p>
        <p>This is due to a custom ROM altering the DPI of the UI. Themer is only compatible with the stock DPI, so to sort this problem, simply revert your ROM back to the default DPI. This point is actually mentioned on the app's Play Store <a href="https://play.google.com/store/apps/details?id=com.mycolorscreen.themer" target="_blank">entry</a>. I should really read more...</p>
    </div>

    <div class="item">
        <h3>Using TeXcount to provide a wordcount in complex LaTeX documents</h3>
        <p>Download <a href="http://app.uio.no/ifi/texcount/download.html" target="_blank">TeXcount</a> and install the Perl script to somewhere like <span class="code">/usr/bin/</span>. Run <span class="code">texcount</span> with the <span class="code">-merge</span> option on the main TeX file to see word counts on the complete document.</p>
        <p><strong>NOTE</strong> use <span class="code">\include{}</span> rather than <span class="code">\input{}</span> in the main TeX file to prevent file-not-found errors.</p>
    </div>

    <div class="item">
        <h3>Resolution problems with Trine 2 on Linux</h3>
        <p>This problem seems to occur when running the Steam version of Trine 2 on GNU/Linux systems with nVIDIA cards running with multiple heads. The issue is that the game tries to set the resolution to the maximum width and height of all the heads combined, meaning that the picture is stretched and only partially visible.</p>
        <p>To fix the issue, edit the file <span class="code">trine2_bin_starter.sh</span> in the relevant place in the Steam directory, and set the <span class="code">FB_FULLSCREEN_WIDTH</span> and <span class="code">FB_FULLSCREEN_HEIGHT</span> to your desired values (e.g. 1920x1200).</p>
    </div>

    <div class="item">
        <h3>Issues typesetting TeX files using <span class="code">texlive</span> on Arch Linux</h3>
        <p>This problem prevents the typesetting of any documents, returning a fatal error regarding the file <span class="code">/var/lib/texmf/web2c/pdftex/pdflatex.fmt</span>. This seems to be a problem with <span class="code">pacman</span>.
        <p>This can be fixed using the bash script contributed by darkdigitaldream on the Arch Linux <a href="https://bbs.archlinux.org/viewtopic.php?pid=1321536#p1321536" target="_blank">forum</a>.</p>
    </div>


</section>

{% endblock %}
