{% extends "layout.html" %}

{% block body %}

<h1>Output</h1>

<section class="small">
	<h2>Talks</h2>
	
	<p>For research-based talks, please see <a href="/research">research</a>.

    <div class="item">	
    <h3>Finishing a PhD in 4 years</h3>
    <p><i>June 2013</i></p>
    <p><a class="download" href="http://www.cs.cf.ac.uk/currentstudents/research/retreat2013/finishingin4years.pdf" target="_blank">View &amp; download</a></p>
    </div>

    <div class="item">
	<h3>Flask Microframework</h3>
    <p><i>May 2013</i></p>
    <p><a class="view" href="https://docs.google.com/presentation/d/1_n9V_t48z9vWpOJvpLTUtBi1WPx08RztPTozTXC_Bqo/edit?usp=sharing" target="_blank">View</a></p>
    <p><a class="source" href="https://github.com/flyingsparx/FTS-Flask" target="_blank">View companion repo</a>
    </div>
   
    <div class="item"> 
    <h3>Node.js</h3>
	<p><i>July 2012</i></p>
	<p><a class="view" href="/static/downloads/node-fts/index.html" target="_blank">View as webpage</a></p>
	</div>
	
	<div class="item">
	<h3>Introducing LaTeX</h3>
	<p><i>January 2012</i></p>
	<p><a class="download" href="/static/downloads/fts_latex.pdf" target="_blank">View &amp; download</a></p>
	</div>

    <div class="item">	
	<h3>Developing Chrome Extensions</h3>
	<p><i>March 2011</i></p>
	<p><a class="download" href="/static/downloads/fts_chrome.pdf" target="_blank">View &amp; download</a></p>
    </div>

</section>

<section class="small">
    <h2>Articles</h2>
    <p>Any of my relevant articles will be available below.</p>

    <div class="item">
        <h3>Direct to S3 File Uploads in Python</h3>
        <p><label>Published by</label><a href="https://www.heroku.com" target="_blank">Heroku</a></p>
        <p><label>Publish date</label>7th May 2013</p>
        <p><span class="view"><a href="https://devcenter.heroku.com/articles/s3-upload-python" target="_blank">View article</a></span></p>
        <p><span class="tags">Heroku, Python, JavaScript, Amazon S3</span></p>
        <p>An article for Heroku's <a href="https://devcenter.heroku.com/" target="_blank">Dev Center</a> covering a procedure enabling direct-to-S3 uploading using Python running on a signing server. The motivation of the article was to encourage Heroku (and any other) developers to make uploads to Amazon's S3 service, but bypassing any server-side processing. By simply using the server to sign the request and then having JavaScript do the actual legwork in uploading the files, the server is not tied up in processing the file and it will be able to continue responding to any requests made during the upload.</p>
    </div>
</section>



{% endblock %}
