{% extends "layout.html" %}

{% block body %}
<div class="item" id="contents">
    <h3>On this page</h3>
    <ul>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#talks">Talks</a></li>
        <li><a href="#articles">Articles</a></li>
    </ul>
</div>

<section class="small">

    <h2 id="projects">Recent projects</h2>

    <p>A collection of projects I've recently worked on independently or as part of a group. Most are just hacked together to fulfil a one-off purpose or just to try out new stuff.</p>

    <div class="item">
    <h3>Health Explorer Wales</h3>
    <p><a class="source" href="https://github.com/CompJCDF/nhs_hack" target="_blank">View source</a></p>
    <p><a class="view" href="http://compjcdf.github.io/nhs_hack/app.html" target="_blank">View app</a></p>
    <p><span class="tags">JavaScript, health, hackathon, visualisation</span></p>
    <p>A purely front-end web app built as part of the 2015 Cardiff NHS Hackathon (see <a href="https://flyingsparx.net/blog/2015/1/27/nhs-hack-day">relevant blog post</a>). The app visualises various geographic and multivariate health data to clearly highlight trends across different regions and health boards in Wales.</p>
    </div>


    <div class="item">
    <h3>Gower Tides</h3>
    <p>Current version: 1.4</p>
    <p><a class="source" href="https://github.com/flyingsparx/GowerTides" target="_blank">View source</a></p>
    <p><a class="view" href="https://play.google.com/store/apps/details?id=net.willwebberley.gowertides" target="_blank">View on Google Play</a></p>
    <p><span class="tags">Android, Java, surf API, weather API, visualisation</span></p>
    <p>An Android app for displaying tidal and weather data for the Gower Peninsula in South Wales. Differentiates from other similar tide applications since the calculations are made offline, which is useful due to limited data services in some areas of the Gower.</p>
    <p>Also displays the surf data for a selection of four Gower locations.</p>
    </div>

    <div class="item">
    <h3>CasaStream</h3>
    <p>Current version: 1.0</p>
    <p><a class="source" href="https://github.com/flyingsparx/CasaStream" target="_blank">Project home</a></p>
    <p><span class="tags"></label>Python, music streaming, PulseAudio</p>
    <p>A system designed to support zoned music streaming around the home. In particular, allows music playing from one 'Master' server to be played simultaneously by other networked CasaStream servers. Once running, a user can choose which sound sources (applications) to stream and which devices should receive and playback the stream.</p>
    <p>Whilst effectively just a wrapper for PulseAudio and VLC, it is designed to be mostly zeroconf, self-organising, self-detecting and easy to deploy.</p>
    </div>

    <div class="item">
    <h3>WekaPy</h3>
    <p>Current version: 1.2</p>
    <p><a class="download" href="https://raw.github.com/flyingsparx/WekaPy/master/wekapy.py" target="_blank">Download current version</a></p>
    <p><a class="source" href="https://github.com/flyingsparx/WekaPy" target="_blank">Project home</a></p>
    <p><span class="tags"></label>Python, machine learning</p>
    <p>A Python wrapper for the Weka machine-learning toolkit. Currently supports training a variety of different classifier types and testing (making predictions) against trained models. The library supports use of ARFF files or more programmatic use (as demonstrated in the repo's <a href="https://github.com/flyingsparx/WekaPy#example-usage" target="_blank">README</a>). Provides a set of useful classes for handling instances and for getting useful information out of the predictions.</p>
    </div>

    <div class="item">
    <h3>Pretty in Paint</h3>
    <p><a class="view" href="http://www.prettyinpaintfurniture.co.uk" target="_blank">View site</a></p>
    <p><span class="tags">PHP, CSS, HTML5, JavaScript</span></p>
    <p>A website for publishing furniture for display and sale. The site provides a simple bespoke CMS allowing flexible updates to the site, and also supports a commissioning system, in which potential customers can contact the company and send them images of their ideas for a piece.</p>
    </div>

    <div class="item">
    <h3>UWC Apply</h3>
    <p><a class="view" href="https://www.uwcgbapply.org" target="_blank">View site</a></p>
    <p><span class="tags">PHP, UWC, CSS, HTML5, JavaScript</span></p>
    <p>A web application allowing students to register and apply to UWC colleges. Provides a UCAS-style application system where applicants can complete various parts of the application, view their progress pre- and post-submission, pay the application fee, view internal messages, and so on.</p>
    </div>

    <div class="item">
    <h3>UK Crime Mashup</h3>
    <p><a class="source" href="https://github.com/martinjc/digisocial" target="_blank">View source</a></p>
    <p><a class="view" href="http://ukcrimemashup.nomovingparts.net" target="_blank">View project</a></p>
    </div>


</section>

<section class="small">
    <h2 id="articles">Articles</h2>
    <div class="item">
        <h3>Direct to S3 File Uploads in Node.js</h3>
        <p><label>Published by</label><a href="https://www.heroku.com" target="_blank">Heroku</a></p>
        <p><label>Publish date</label>15th March 2014</p>
        <p><span class="view"><a href="https://devcenter.heroku.com/articles/s3-upload-node" target="_blank">View article</a></span></p>
        <p><span class="tags">Heroku, Node, JavaScript, Amazon S3</span></p>
        <p>An article for Heroku's <a href="https://devcenter.heroku.com/" target="_blank">Dev Center</a> covering the exactly the same procedure as the Pyhon article, but using Node!</p>
    </div>
    <div class="item">
        <h3>Direct to S3 File Uploads in Python</h3>
        <p><label>Published by</label><a href="https://www.heroku.com" target="_blank">Heroku</a></p>
        <p><label>Publish date</label>7th May 2013</p>
        <p><span class="view"><a href="https://devcenter.heroku.com/articles/s3-upload-python" target="_blank">View article</a></span></p>
        <p><span class="tags">Heroku, Python, JavaScript, Amazon S3</span></p>
        <p>An article for Heroku's <a href="https://devcenter.heroku.com/" target="_blank">Dev Center</a> covering a procedure enabling direct-to-S3 uploading using Python running on a signing server. The motivation of the article was to encourage Heroku (and any other) developers to make uploads to Amazon's S3 service, but bypassing any server-side processing. By simply using the server to sign the request and then having JavaScript do the actual legwork in uploading the files, the server is not tied up in processing the file and it will be able to continue responding to any requests made during the upload.</p>
    </div>

	<h2 id="talks">Talks</h2>
	<p>For research-based talks, please see <a href="/research#talks">research</a>.

    <div class="item">
    <h3>Developing Useful APIs for the Web</h3>
    <p><i>February 2015</i></p>
    <p>An internal University seminar on my experiences with creating and using web APIs and some best practices for structuring them properly.</p>
    </div>

    <div class="item">	
    <h3>Making the Best Open-Source Contributions</h3>
    <p><i>March 2014</i></p>
    </div>


    <div class="item">	
    <h3>Finishing a PhD in 4 years</h3>
    <p><i>June 2013</i></p>
    <p><a class="download" href="http://www.cs.cf.ac.uk/currentstudents/research/retreat2013/finishingin4years.pdf" target="_blank">View &amp; download</a></p>
    </div>

    <div class="item">
	<h3>Flask Microframework</h3>
    <p><i>May 2013</i></p>
    <p><a class="view" href="https://docs.google.com/presentation/d/1_n9V_t48z9vWpOJvpLTUtBi1WPx08RztPTozTXC_Bqo/edit?usp=sharing" target="_blank">View</a></p>
    <p><a class="source" href="https://github.com/flyingsparx/FTS-Flask" target="_blank">View companion repo</a>
    </div>
   
    <div class="item"> 
    <h3>Node.js</h3>
	<p><i>July 2012</i></p>
	<p><a class="view" href="/static/downloads/node-fts/index.html" target="_blank">View as webpage</a></p>
	</div>
	
	<div class="item">
	<h3>Introducing LaTeX</h3>
	<p><i>January 2012</i></p>
	<p><a class="download" href="/static/downloads/fts_latex.pdf" target="_blank">View &amp; download</a></p>
	</div>

    <div class="item">	
	<h3>Developing Chrome Extensions</h3>
	<p><i>March 2011</i></p>
	<p><a class="download" href="/static/downloads/fts_chrome.pdf" target="_blank">View &amp; download</a></p>
    </div>

</section>



{% endblock %}
