{% extends "layout.html" %}

{% block body %}

<h1>Research</h1>
<section class="main">
    <h2>Autonomic Dissemination of Information in Online Social Networks</h2>
        
    <img src="/static/media/research1.png" class="small-image right"/>

    <p>I'm a PhD student at the <a href="http://cs.cf.ac.uk" target="_blank">School of Computer Science</a>, <a href="http://cf.ac.uk" 
    target="_blank">Cardiff University</a>.</p>

    <p>
    My research is to do with the dissemination of content and 
    information in online social networks - in particular, Twitter. 
    I am supervised by 
    <a href="http://users.cs.cf.ac.uk/Stuart.M.Allen" target="_blank" >Dr Stuart Allen</a> 
    and 
    <a href="http://users.cs.cf.ac.uk/R.M.Whitaker" target="_blank" >Prof Roger Whitaker</a>.
    </p>

    <p>
    I am interested in how information is spread around through the act of retweeting. My work so far has focused
    on the properties and behaviour of retweets and the ways in which different structures of a user's local networks can affect
    the behaviour of the propagation of retweets within it.</p>
    <p>
    Currently I am looking at ways in which users might be exposed to relevant and useful information, but without them having to look for it or even <i>know</i> it exists. For this, I have been looking into measuring information interestingness (on a global level) so that more interesting content can be filtered from the noise of everyday communication.
    </p>
</section>

<div style="clear:both;"></div>

<section class="small">
	<h2>Peer-reviewed publications</h2>
    <div class="item">		
	<h3>Inferring the Interesting Tweets in Your Network</h3>
	<p><label class="small">Authors</label>Will Webberley, Stuart M. Allen, Roger M. Whitaker</p>
	<p><label class="small">Reviewed</label>Blind peer-reviewed</p>
    <p><label class="small">In</label>Third International Conference on Cloud and Green Computing (CGC), 2013</p>
    <p><label class="small">Place / Date</label>Karlsruhe, Germany. September 2013</p>
    <p><a class="download" href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=6686092&tag=1" target="_blank">Available from IEEE</a></p>
	</div>
    
    <div class="item">		
	<h3>Retweeting: A Study of Message-Forwarding in Twitter</h3>
	<p><label class="small">Authors</label>Will Webberley, Stuart Allen, Roger Whitaker</p>
	<p><label class="small">Reviewed</label>Double-blind peer-reviewed</p>
    <p><label class="small">In</label>Workshop on Mobile and Online Social Networks, 2011 (MOSN'11)</p>
    <p><label class="small">Place / Date</label>Milan, Italy. September 2011</p>
	<p><a class="download" href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=6060787&tag=1" target="_blank">Available from IEEE</a></p>
	</div>

	<h2>Research posters</h2>
	
	<div class="item">
    <h3>Predicting Interesting Tweets in your Network</h3>
	<p>Cardiff University poster day, January 2013</p>
	<p><label class="small">Prize won</label>Student award for best poster</p>
	<p><label class="small">Prize won</label>Department award for best poster</p>
	<p><a class="download" href="/static/downloads/poster_day_2013.pdf" target="_blank">Download</a></p>
	</div>
	
	<div class="item">
	<h3>Modelling the behaviour of retweets</h3>
	<p>Cardiff University Distinguished Lecture Series, December 2011</p>
	<p><a class="download" href="/static/downloads/distinguished_lecture.pdf" target="_blank">Download</a></p>
	</div>
	
	<div class="item">
	<h3>Retweeting: Information-Forwarding on Twitter</h3>
	<p>Cardiff University poster day, January 2011</p>
	<p><label class="small">Prize won</label>Student award for best poster</p>
	<p><a class="download" href="/static/downloads/poster_day_2011.pdf" target="_blank">Download</a></p>
    </div>

</section>	
	
<section class="small">
	<h2>Research talks</h2>
	
    <div class="item">
    <h3>Inferring the interesting Tweets in your network</h3>
	<p>Cardiff University research retreat, June 2013</p>
    <p><label class="small">Prize won</label>Best presentation</p>
	<p><a class="download" href="/static/downloads/retreat2013.pdf" target="_blank">Download</a></p>
    </div>
	
    <div class="item">
	<h3>Retweets and stuff</h3>
	<p>Internal seminar, October 2012</p>
	<p>Talk on my research at the time of the presentation.</p>
	<p><a class="view" href="/static/downloads/research-fts/presentation.html" target="_blank">View</a></p>
	</div>
	
	<div class="item">
	<h3>Modelling the behaviour of retweets</h3>
	<p>Cardiff University research retreat, May 2012</p>
	<p><label class="small">Prize won</label>Best presentation</p>
	<p><a class="download" href="/static/downloads/retreat_2012.pdf" target="_blank">Download</a></p>
	</div>
	
	<div class="item">
	<h3>Retweeting: A Study of Message-Forwarding in Twitter</h3>
	<p>Companion to the paper of the same name, Milan, September 2011</p>
	<p><a class="download" href="/static/downloads/retweeting_presentation.pdf" target="_blank">Download</a></p>
	</div>
	
	<div class="item">
	<h3>Getting relevant information to the right people in social networks</h3>
	<p>Cardiff University research retreat, May 2011</p>
	<p><a class="download" href="/static/downloads/retreat_2011.pdf" target="_blank">Download</a></p>
    </div>
</section>

{% endblock %}
