{% extends "layout.html" %}
{% block body %}

<section class="small">
    <h2 id="current">Current research</h2>
    <p>I am currently involved with a couple of research projects as a research associate at the <a href="http://cs.cf.ac.uk" target="_blank">School of Computer Science &amp Informatics</a>, <a href="http://cf.ac.uk" target="_blank">Cardiff University</a>.

    <div class="item">
        <h3>ITA</h3>
        <p>International Technology Alliance in Network &amp; Information Sciences</p>
        <p><a href="https://www.usukita.org" target="_blank">usukita.org</a></p>
    </div>

    <div class="item">
        <h3>TaRDiS</h3>
        <p>Tackling Radicalisation in Dispersed Societies</p>
        <p><a href="http://upsi.org.uk" target="_blank">upsi.org.uk</a></p>
    </div>

    <h2 id="phd">PhD research</h2>
    <h3>Inferring Interestingness in Online Social Networks</h3>
        
    <img src="/static/media/research1.png" class="small-image right"/>

    <p>I achieved my PhD from the <a href="http://cs.cf.ac.uk" target="_blank">School of Computer Science &amp Informatics</a>, <a href="http://cf.ac.uk" 
    target="_blank">Cardiff University</a>.</p>

    <p>
    This research was to do with the dissemination of content and 
    information in online social networks - in particular, Twitter - for the purposes of identifying and ranking interesint Tweets. 
    I was supervised by 
    <a href="http://users.cs.cf.ac.uk/Stuart.M.Allen" target="_blank" >Dr Stuart Allen</a> 
    and 
    <a href="http://users.cs.cf.ac.uk/R.M.Whitaker" target="_blank" >Prof Roger Whitaker</a>.
    </p>
</section>

<section class="small">
	<h2>Peer-reviewed publications</h2>
    <div class="item">		
        <h3>Inferring the Interesting Tweets in Your Network</h3>
        <p>Will Webberley, Stuart M. Allen, Roger M. Whitaker. In <i>Third International Conference on Cloud and Green Computing (CGC)</i>. Karlsruhe, Germany. September 2013.
        <p><a class="download" href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=6686092&tag=1" target="_blank">Available from IEEE</a></p>
	</div>
    
    <div class="item">		
        <h3>Retweeting: A Study of Message-Forwarding in Twitter</h3>
        <p>Will Webberley, Stuart Allen, Roger Whitaker. In <i>Workshop on Mobile and Online Social Networks, 2011 (MOSN'11)</i>. Milan, Italy. September 2011.
        <p><a class="download" href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=6060787&tag=1" target="_blank">Available from IEEE</a></p>
	</div>

	<h2>Research posters</h2>
	
	<div class="item">
    <h3>Predicting Interesting Tweets in your Network</h3>
	<p>Cardiff University poster day, January 2013</p>
	<p><label class="small">Prize won</label>Student award for best poster</p>
	<p><label class="small">Prize won</label>Department award for best poster</p>
	<p><a class="download" href="/static/downloads/poster_day_2013.pdf" target="_blank">Download</a></p>
	</div>
	
	<div class="item">
	<h3>Modelling the behaviour of retweets</h3>
	<p>Cardiff University Distinguished Lecture Series, December 2011</p>
	<p><a class="download" href="/static/downloads/distinguished_lecture.pdf" target="_blank">Download</a></p>
	</div>
	
	<div class="item">
	<h3>Retweeting: Information-Forwarding on Twitter</h3>
	<p>Cardiff University poster day, January 2011</p>
	<p><label class="small">Prize won</label>Student award for best poster</p>
	<p><a class="download" href="/static/downloads/poster_day_2011.pdf" target="_blank">Download</a></p>
    </div>

	<h2>Research talks</h2>

    <div class="item">
    <h3>Inferring the interesting Tweets in your network</h3>
	<p>Department of Informatics, King's College London, January 2014</p>
    </div>
	
    <div class="item">
    <h3>Inferring the interesting Tweets in your network</h3>
	<p>Cardiff University research retreat, June 2013</p>
    <p><label class="small">Prize won</label>Best presentation</p>
	<p><a class="download" href="/static/downloads/retreat2013.pdf" target="_blank">Download</a></p>
    </div>
	
    <div class="item">
	<h3>Retweets and stuff</h3>
	<p>Internal seminar, October 2012</p>
	<p>Talk on my research at the time of the presentation.</p>
	<p><a class="view" href="/static/downloads/research-fts/presentation.html" target="_blank">View</a></p>
	</div>
	
	<div class="item">
	<h3>Modelling the behaviour of retweets</h3>
	<p>Cardiff University research retreat, May 2012</p>
	<p><label class="small">Prize won</label>Best presentation</p>
	<p><a class="download" href="/static/downloads/retreat_2012.pdf" target="_blank">Download</a></p>
	</div>
	
	<div class="item">
	<h3>Retweeting: A Study of Message-Forwarding in Twitter</h3>
	<p>Companion to the paper of the same name, Milan, September 2011</p>
	<p><a class="download" href="/static/downloads/retweeting_presentation.pdf" target="_blank">Download</a></p>
	</div>
	
	<div class="item">
	<h3>Getting relevant information to the right people in social networks</h3>
	<p>Cardiff University research retreat, May 2011</p>
	<p><a class="download" href="/static/downloads/retreat_2011.pdf" target="_blank">Download</a></p>
    </div>
</section>

{% endblock %}
