{% extends "layout.html" %}

{% block body %}

<h1>Software</h1>


<section>
    <h2>Recent projects</h2>

    <p>Some current and recent software projects carried out in my spare time. Most software here is free and open source.</p>

    <div class="item">
    <h3>Gower Tides</h3>
    <p>Current version: 1.4</p>
    <p><a class="source" href="https://github.com/flyingsparx/GowerTides" target="_blank">View source</a></p>
    <p><a class="view" href="https://play.google.com/store/apps/details?id=net.willwebberley.gowertides" target="_blank">View on Google Play</a></p>
    <p><span class="tags">Android, Java, surf API, weather API, visualisation</span></p>
    <p>An Android app for displaying tidal and weather data for the Gower Peninsula in South Wales. Differentiates from other similar tide applications since the calculations are made offline, which is useful due to limited data services in some areas of the Gower.</p>
    <p>Also displays the surf data for a selection of four Gower locations.</p>
    </div>

    <div class="item">
    <h3>CasaStream</h3>
    <p>Current version: 1.0</p>
    <p><a class="source" href="https://github.com/flyingsparx/CasaStream" target="_blank">Project home</a></p>
    <p><span class="tags"></label>Python, music streaming, PulseAudio</p>
    <p>A system designed to support zoned music streaming around the home. In particular, allows music playing from one 'Master' server to be played simultaneously by other networked CasaStream servers. Once running, a user can choose which sound sources (applications) to stream and which devices should receive and playback the stream.</p>
    <p>Whilst effectively just a wrapper for PulseAudio and VLC, it is designed to be mostly zeroconf, self-organising, self-detecting and easy to deploy.</p>
    </div>

    <div class="item">
    <h3>WekaPy</h3>
    <p>Current version: 1.2</p>
    <p><a class="download" href="https://raw.github.com/flyingsparx/WekaPy/master/wekapy.py" target="_blank">Download current version</a></p>
    <p><a class="source" href="https://github.com/flyingsparx/WekaPy" target="_blank">View source</a></p>
    <p><span class="tags"></label>Python, machine learning</p>
    <p>A Python wrapper for the Weka machine-learning toolkit. Currently supports training a variety of different classifier types and testing (making predictions) against trained models. The library supports use of ARFF files or more programmatic use (as demonstrated in the repo's <a href="https://github.com/flyingsparx/WekaPy#example-usage" target="_blank">README</a>). Provides a set of useful classes for handling instances and for getting useful information out of the predictions.</p>
    </div>

    <div class="item">
    <h3>UWC Apply</h3>
    <p><a class="view" href="http://www.uwcgbapply.org" target="_blank">View project</a></p>
    <p><span class="tags">PHP, UWC, CSS, HTML5, JavaScript</span></p>
    <p>A web application allowing students to register and apply to UWC colleges. Provides a UCAS-style application system where applicants can complete various parts of the application, view their progress pre- and post-submission, pay the application fee, view internal messages, and so on.</p>
    </div>

    <div class="item">
    <h3>UK Crime Mashup</h3>
    <p><a class="source" href="https://github.com/martinjc/digisocial" target="_blank">View source</a></p>
    <p><a class="view" href="http://ukcrimemashup.nomovingparts.net" target="_blank">View project</a></p>
    <p><span class="tags">Django, JavaScript, gov.uk data, Google Maps API</span></p>
    <p>Completed as part of a 2-day social-science hackathon with <a href="http://martinjc.com/" target="_blank">Martin Chorley</a> and <a href="http://mattjw.net/" target="_blank">Matt Williams</a>. A web application that attempts to visually find correlations between crime intensity or crime outcome intensity and the food hygeine rating of the area.</p>
    </div>

    <div class="item">
    <h3>ScriptSlide</h3>
    <p>Current version: 1.2</p>
    <p><a class="source" href="https://github.com/flyingSparx/ScriptSlide" target="_blank">View source</a></p>
    <p><a class="view" href="/static/downloads/scriptslide/index.html" target="_blank">View example</a></p>
    <p><span class="tags">JavaScript, HTML5</span></p>
    <p>A simple JavaScript script for producing a presentation in HTML. Supports various configurations, transitions and themes and can easily be configured for more personalised needs.</p>
    </div>
    
    <div class="item">
    <h3>Minecraft Server Manager</h3>
    <p>Current version 2.0</p>
    <p>This project is no longer under development (last update 2011).</p>
    <p><a class="download" href="/static/downloads/minecraft_server_manager.mpkg.zip">Download current version</a></p>
    <p><span class="tags">Java, Minecraft</span></p>
    <p>A UI-based server manager for Minecraft for OS X. Designed to transparently and easily handle a Minecraft server running on a Mac, supporting functionality for creating and handling worlds, interacting with players (bans, OPs, etc.), issuing server commands and managing plugins for the Buckit server.</p>
    <p>While base functionality still mostly works (creating worlds, updating the server, starting/stopping the server/server commands, etc.), a lot of the player interaction stuff relied on previous versions of the server's output and so will no longer work.</p>
    </div>

</section>

{% endblock %}
