{% extends "layout.html" %}

{% block body %}

<h1>Teaching</h1>

<p>Teaching at the <a href="http://cs.cf.ac.uk" target="_blank">School of Computer Science & Informatics</a>, 
<a href="http://www.cardiff.ac.uk" target="_blank">Cardiff University</a> from September 2010 to present.</p>

<section class="small">
	<h2>Supervised Projects</h2>
	
	<h3>Digitial Asset Bank</h3>
	<p>Produce a design and prototype system representing a digital asset bank. Users are able to upload various types of electronic media (documents, images, movies, 3-D models, etc.), which would then be made available for other users to purchase and download. The system incorporated various algorithms for detcting popular assets and allowed for appropriate previews of assets before purchases are made.</p>
	
	<h3>Coursework Assistance Tool</h3>
	<p>Produce a design and prototype system to help students in managing and tracking their various University courseworks. The system was produced in PHP and enabled users to view upcoming deadlines, create and manage milestones, track and keep up-to-date with other group members, submit questions for staff, and so on.</p>
	
	<h3>Online Library System</h3>
	<p>Produce a design for an online system for a local library so that users can access eBooks, audiobooks, music, movies, etc online using their library account. This design was extended to work with mobile clients (Android, iOS, Kindle) and encompassed the legal aspects (copyright, etc).</p>
	
	<h3>Geo-Information Sharing for Mobile Devices</h3>
	<p>Produce a design for a system for smartphones (particularly Android, but extended to iOS) that would allow users to share geographical information on geographical features (buildings, points of interest, roads, natural features, etc) via a map-based positioning system. The design included how GPS would be used to locate the features, database design, how data would be shared & updated, and so on.</p>
</section>

<section class="small">
	<h2>General Teaching</h2>
	
	<h3>Python</h3>
	<p>Labs covering an introduction to Python programming, including basic algorithms and GUI programming.</p>
	
	<h3>Java</h3>
	<p>Labs covering intermediate/advanced Java including GUI, threading, I/O & networking.</p>
	
	<h3>Computer Architecture & Assembly Language</h3>

    <p>Tutorials covering theory on CPU, memory, storage, I/O, processes/threads & 8086 assembly language.<br />
	Labs covering assembly language, OS, processes & threads.</p>
	
	<h3>Mobile Communications & Meta Heuristics</h3>
	<p>Tutorials covering electromagnetic wave properties (wavelength, power, frequency), cellular networks (link budgets, structure, traffic, etc), Wi-Fi, Bluetooth, modulation, multiple access, optimisation, genetic algorithms, searches (tabu, hill-climbing, local).</p>
	
	<h3>Algorithms & Data Structures</h3>
	<p>Labs covering algorithms (searching, path-finding, optimisation, etc) and the implementation of ADTs (hashing, dictionaries, red/black & AVL trees, stacks, queues, heaps, linked lists, etc).</p>
	
	<h3>Developing Quality Software</h3>
	<p>Tutorials covering system design (UML), system testing & software development process.</p>
	
	<h3>Professional Skills</h3>
	<p>Labs covering development of professional skills; from communication, essay/reference skills through to CV-writing and portfolio development.</p>

</section>

{% endblock %}
