{% extends "layout.html" %}

{% block body %}

<div class="item" id="contents">
    <h3>On this page</h3>
    <ul>
        <li><a href="#current">Current teaching</a></li>
        <li><a href="#past">Past teaching</a></li>
        <li><a href="#projects">Supervised projects</a></li>
    </ul>
</div>

<section class="main">
    <h2 id="current">Current teaching</h2>
    <p>Lectures at Cardiff University.</p>
    <div class="item">
        <h3>Human Computer Interaction</h3>
        <p>All material for this module is available on Learning Central. This includes:</p>
        <ul>
            <li>Lecture slides</li>
            <li>Tutorial questions and solutions</li>
            <li>Revision guides</li>
            <li>Guest lecture information</li>
        </ul>
        <p class="background github footer">Markup for the course material is available from the <a href="https://github.com/flyingsparx/CM2101" target="_blank">CM2101 repository</a>.</p>
    </div>
    <div class="item">
        <h3>Algorithms &amp; Data Structures</h3>
        <p>Lab-related material for this module (and some model 'solutions') are available on Learning Central.</p>
        <p class="background github footer">Markup for the lab sheets is available from the <a href="https://github.com/flyingsparx/CM2303" target="_blank">CM2303 repository</a>.</p>
    </div>
</section>

<section class="small">
	<h2 id="past">Past teaching</h2>
	<p>Teaching duties alongside my PhD at the <a href="http://cs.cf.ac.uk" target="_blank">School of Computer Science & Informatics</a>, 
<a href="http://www.cardiff.ac.uk" target="_blank">Cardiff University</a> from September 2010 to 2013.</p>

    <div class="item">
	<h3>Python</h3>
	<p>Labs covering an introduction to Python programming, including basic algorithms and GUI programming.</p>
    </div>
	
    <div class="item">
	<h3>Java</h3>
	<p>Labs covering intermediate/advanced Java including GUI, threading, I/O & networking.</p>
    </div>
	
    <div class="item">
	<h3>Computer Architecture & Assembly Language</h3>
    <p>Tutorials covering theory on CPU, memory, storage, I/O, processes/threads & 8086 assembly language.<br />
	Labs covering assembly language, OS, processes & threads.</p>
    </div>
	
    <div class="item">
	<h3>Mobile Communications & Meta Heuristics</h3>
	<p>Tutorials covering electromagnetic wave properties (wavelength, power, frequency), cellular networks (link budgets, structure, traffic, etc), Wi-Fi, Bluetooth, modulation, multiple access, optimisation, genetic algorithms, searches (tabu, hill-climbing, local).</p>
	</div>

    <div class="item">
	<h3>Algorithms & Data Structures</h3>
	<p>Labs covering algorithms (searching, path-finding, optimisation, etc) and the implementation of ADTs (hashing, dictionaries, red/black & AVL trees, stacks, queues, heaps, linked lists, etc).</p>
    </div>
	
    <div class="item">
	<h3>Developing Quality Software</h3>
	<p>Tutorials covering system design (UML), system testing & software development process.</p>
    </div>
	
    <div class="item">
	<h3>Professional Skills</h3>
	<p>Labs covering development of professional skills; from communication, essay/reference skills through to CV-writing and portfolio development.</p>
    </div>

</section>

<section class="small">
	<h2 id="projects">Supervised Projects</h2>
    <p>Undergraduate projects supervised during my PhD from September 2010 to 2013.</p>

    <div class="item">
    <h3>Social Media Visualisation Toolkit</h3>
    <p><i>Two projects of the same title were supervised:</i><br />Produce a design and a prototype system to generate interesting and useful visualisations to represent social media data for use with <a href="http://www.cs.cf.ac.uk/cosmos/" target="_blank">COSMOS</a>'s system. The system, written primarily in PHP and JavaScript, could accept data in order to produce dynamic visualisations, utilising an array of toolkits and APIs (D3.js, Google Charts, Google Maps, etc.). The system included functionality allowing account creation, the saving of visualisations and their source data and some further configuration (differing between the two supervised projects).</p>
    </div>
	
    <div class="item">
	<h3>Digitial Asset Bank</h3>
	<p>Produce a design and a prototype system representing a digital asset bank. Users are able to upload various types of electronic media (documents, images, movies, 3-D models, etc.), which would then be made available for other users to purchase and download. The system incorporated various algorithms for detcting popular assets and allowed for appropriate previews of assets before purchases are made.</p>
	</div>
    
    <div class="item">
	<h3>Coursework Assistance Tool</h3>
	<p>Produce a design and a prototype system to help students in managing and tracking their various University courseworks. The system was produced in PHP and enabled users to view upcoming deadlines, create and manage milestones, track and keep up-to-date with other group members, submit questions for staff, and so on.</p>
	</div>

    <div class="item">
	<h3>Online Library System</h3>
	<p>Produce a design for an online system for a local library so that users can access eBooks, audiobooks, music, movies, etc online using their library account. This design was extended to work with mobile clients (Android, iOS, Kindle) and encompassed the legal aspects (copyright, etc).</p>
	</div>

    <div class="item">
	<h3>Geo-Information Sharing for Mobile Devices</h3>
	<p>Produce a design for a system for smartphones (particularly Android, but extended to iOS) that would allow users to share geographical information on geographical features (buildings, points of interest, roads, natural features, etc) via a map-based positioning system. The design included how GPS would be used to locate the features, database design, how data would be shared & updated, and so on.</p>
    </div>

</section>


{% endblock %}
